
#title {
    background-color: #ff4c68;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}
.container{
    padding: 3% 15%;
}
.nav-item{
    padding: 0px 18px;
}
.nav-link{
    font-size: 1.2rem;
}
.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    left: 20%;
}
p {
    color: #8f8f8f;
    text-align: center;
}
.aj{
    font-family: 'montserrat';
    text-align: center ;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem ;
    text-align: center;
    align-items: center;

}
.featbox{
    text-align: center;
    background-color: #fff;
}
.icon:hover{
    color: #ff4c68 ;
}
#features{
    padding: 10% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}
#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding: 7% 15%;
}
@media screen and (max-width:1000px) {
    .title-image {
        position: static;
        transform: rotate(0);
    }
    #title{
        text-align: center;
    }
    
}
#cta {
    background-color: #ff4c68;
    font-family: 'Montserrat';
    color: #fff;
    padding: 7% 15%;
    text-align: center;
}
#footer {
    margin: 7% 15%;
    text-align: center;
}
.endicon{
    margin: 20px 10px;
}
